.card {
    width: 100%;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
   }
   
   .card2 {
    width: 100%;
    background-color: #1a1a1a;
    border-radius: 19px;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    align-items: center;
   }

   .card3 {
    width: 100%;
    height: 99.2%;
    background-color: #1a1a1a;
    border-radius: 19px;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;
    align-items: center;
   }
   
   .card2:hover {
    transform: scale(0.99);
    border-radius: 20px;
   }

  .card3:hover {
    transform: scale(0.997);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }



.cabecera {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding-top: 12px;
}

.cabeceraProceso {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding-top: 12px;
}


.fecha {
    position: relative;
    max-width: 250px;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
  }
  
  .fecha .fecha {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
    color: rgb(106, 121, 26);
    font-weight: 500;
    pointer-events: none;
  }
    
  .fecha input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-family: inherit;
    padding: 16px 0px 0 20px;
    height: 56px;
    font-size: 14px;
    font-weight: 400;
    background: rgba(93, 165, 97, 0.103);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: rgb(170, 170, 170);
    transition: all 0.15s ease;
    text-align: center;
  }


.inp {
  width: 85%;
  position: relative;
}
.inpObs {
  width: 85%;
  position: relative;
  padding-bottom: 10px;
  top: 10px
}

  input, textarea {
    position: relative;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    color: rgb(204, 204, 204);
    font-size: 0.9rem;
    background-color: transparent;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.082);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

textarea {
  resize: none;
  padding-top: 15px;
  overflow-y: auto;
} 
textarea::-webkit-scrollbar {
  width: 0.5em;
}
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
textarea::-webkit-scrollbar-thumb {
background-color: rgb(93 24 220);
outline: 1px solid slategrey;
}

.inp2 {
  width: 40%;
  position: relative;
}

.inp3 {
  width: 70%;
  position: relative;
}
.inp3 input {
  height: 56px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  background: rgba(93, 165, 97, 0.103);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.inpT {
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.inpT textarea {
  font-size: 1rem;
}
  
  .label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
    display: inline-block;
    font-size: 0.8rem;
    min-width: 5px;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .inp2 .label {
    top: 0px
  }
@media only screen and (min-width: 1589px) {
  .inp2 .label {
    top: 15px
  }
}

  .focusBg {
    position: absolute;
    background: #5891ff;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
  }

  input:hover, textarea:hover {
    background: #4985e01f;
   }
   
   input:focus, textarea:focus {
    outline: none;
   }

   input:focus + .label, input:not(:placeholder-shown) + .label, textarea:focus + .label, textarea:not(:placeholder-shown) + .label {
    color: lightblue;
    transform: translateY(-20px);
    font-size: 0.7rem;
   }

   input:focus ~ .focusBg, textarea:focus ~ .focusBg {
    width: 100%;
   }






.registroNotas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 93%;
}



.boton {
    width:40px;
    padding: 10px;
 border-radius: 50px;
 border: 0;
 background-color: rgb(184, 184, 184);
 box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 letter-spacing: 1.5px;
 text-transform: uppercase;
 font-size: 15px;
 transition: all .5s ease;
 text-align: center;
 margin-top: 10px;
}

.boton:hover {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.boton:active {
 letter-spacing: 3px;
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}



hr {
  width: 90%;
  color:  rgb(93 24 220);
  border: 0; 
  height: 12px; 
  box-shadow: inset 0 12px 12px -12px rgb(93 24 220);
}