.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.App-principal {
  /* display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3%;
  align-items: stretch;
}

.App-detalles {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.4rem;
}