.App {
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.App-principal {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3%;
  align-items: stretch;
  width: 90%;
  animation: desplazamiento 0.8s 0s linear;
}

.App-detalles {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.4rem;
}

@keyframes desplazamiento {
  from {
    margin-top:100vh
  }
  to {
    margin-top: 0
  }
}